<!DOCTYPE html>
<html>
<head>

  <head>

  </head>
  <%= stylesheet_link_tag 'application' %>

</head>
<body>
<h1>NVR/Shepherd Device Pack 資料庫 <span>Serach、SOC Compare &amp; Update</span></h1>

<div class=" middle_height">
  <div class="center_item" >
    <div>
      <h1 style="bottom:50%">Import Success!!!</h1>
    </div>
  </div>
</div>

<div class="round-button">
  <%#= link_to "Compare!", show_soc_info_index_cameras_path %>
  <a href=<%= show_soc_info_index_cct_nvr_db_cameras_path %>  data-no-turbolink="true">

  Compare!

  </a>
</div>

</body>
</html>