// Place all the styles related to the camera_other_infos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table tr td
{
  table-layout: fixed;
  width: 50px;
  //padding: 1px;
  vertical-align: top;
  border-style:solid;
  border-width: 1px;
  border-color: black;
}

table td
{
  table-layout:fixed;
  width:20px;
  overflow:hidden;
  word-wrap:break-word;
}

.center_item
{
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


table.table_otherinfo_sw {
  border-collapse: collapse;
  width: 100%;
}

table.table_otherinfo_sw th, table.table_otherinfo_sw td {
  text-align: left;
  padding: 8px;
}

table.table_otherinfo_sw tr:nth-child(even){background-color: #f2f2f2}

table.table_otherinfo_sw th {
  background-color: #333333;
  color: white;
}